@import "../ColorsAndImg.scss";

.card_pokemon {
  margin: 2rem;
  width: 190px;
  height: 285px;
  padding: 35px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 0;
  box-shadow: 9px 13px 21px -14px rgb(0 0 0 / 86%);
  -webkit-box-shadow: 9px 13px 21px -14px rgb(0 0 0 / 86%);
  -moz-box-shadow: 9px 13px 21px -14px rgba(0, 0, 0, 0.86);
  flex-direction: column;
  img {
    width: 100px;
    height: 100px;
  }
  .Name_Pokemon {
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    text-shadow: 5px 5px 6px rgb(0 0 0 / 52%);
  }
  .container_type {
    display: flex;
    justify-content: space-evenly;
    .type {
      margin: 5px;
      padding: 5px;
      height: 30px;
      width: 30px;
    }
    .normal {
      background-image: $Img_Type_normal;
      background-size: cover;
    }
    .shadow {
      background-color: #4d3f5f;
    }
    .steel {
      background-image: $Img_Type_steel;
      background-size: cover;
    }
    .ghost {
      background-image: $Img_Type_ghost;
      background-size: cover;
    }
    .fairy {
      background-image: $Img_Type_fairy;
      background-size: cover;
    }
    .psychic {
      background-image: $Img_Type_psychic;
      background-size: cover;
    }
    .rock {
      background-image: $Img_Type_rock;
      background-size: cover;
    }
    .dragon {
      background-image: $Img_Type_dragon;
      background-size: cover;
    }
    .fighting {
      background-image: $Img_Type_fighting;
      background-size: cover;
    }
    .fire {
      background-image: $Img_Type_fire;
      background-size: cover;
    }
    .bug {
      background-image: $Img_Type_bug;
      background-size: cover;
    }
    .ground {
      background-image: $Img_Type_ground;
      background-size: cover;
    }
    .grass {
      background-image: $Img_Type_grass;
      background-size: cover;
    }
    .poison {
      background-image: $Img_Type_poison;
      background-size: cover;
    }
    .flying {
      background-image: $Img_Type_flying;
      background-size: cover;
    }
    .water {
      background-image: $Img_Type_water;
      background-size: cover;
    }
    .electric {
      background-image: $Img_Type_electric;
      background-size: cover;
    }
    .dark {
      background-image: $Img_Type_dark;
      background-size: cover;
    }
    .ice {
      background-image: $Img_Type_ice;
      background-size: cover;
    }
  }
}
.steel_bg {
  background: $background_steel;
  background-size: cover;
}

.bug_bg {
  background: $background_bug;
  background-size: cover;
}
.poison_bg {
  background: $background_poison;
  background-size: cover;
}
.ground_bg {
  background: $background_ground;
  background-size: cover;
}
.grass_bg {
  background: $background_grass;
  background-size: cover;
}
.water_bg {
  background: $background_water;
  background-size: cover;
}
.psychic_bg {
  background: $background_psychic;
  background-size: cover;
}
.rock_bg {
  background: $background_rock;
  background-size: cover;
}
.ghost_bg {
  background: $background_ghost;
  background-size: cover;
}
.ice_bg {
  background: $background_ice;
  background-size: cover;
}
.dark_bg {
  background: $background_dark;
  background-size: cover;
}
.dragon_bg {
  background: $background_dragon;
  background-size: cover;
}
.fairy_bg {
  background: $background_fairy;
  background-size: cover;
}
.fire_bg {
  background: $background_fire;
  background-size: cover;
}
.flying_bg {
  background: $background_flying;
  background-size: cover;
}
.fighting_bg {
  background: $background_fighting;
  background-size: cover;
}
.electric_bg {
  background: $background_electric;
  background-size: cover;
}
.normal_bg {
  background: $background_normal;
  background-size: cover;
}

@media (max-width: 700px) {
  .Home {
    .container_pokemons {
      .card_pokemon {
        border-radius: 15px;
        padding: 20px;
        width: 65vw;
        height: 5rem;
        .Name_Pokemon {
          font-size: 15px;
        }
        // width: 18rem;
        height: 3rem;
        .container_type {
          .type {
            margin: 5px;
            padding: 5px;
            height: 10px;
            width: 11px;
            img {
              width: 59px;
              height: 71px;
            }
          }
        }
        img {
          width: 59px;
          height: 71px;
        }
      }
    }
  }
  .options {
    .container_options {
      flex-direction: column !important;
    }
  }
}
