.card_pokemon {
  margin: 2rem;
  width: 190px;
  height: 285px;
  padding: 35px;
  border: 1px solid;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 0;
  box-shadow: 9px 13px 21px -14px rgb(0 0 0 / 86%);
  -webkit-box-shadow: 9px 13px 21px -14px rgb(0 0 0 / 86%);
  -moz-box-shadow: 9px 13px 21px -14px rgba(0, 0, 0, 0.86);
  flex-direction: column;
  // box-shadow: 9px -8px teal;
  img {
    width: 100px;
    height: 100px;
  }
  .Name_Pokemon {
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
  }
  .container_type {
    display: flex;
    justify-content: space-evenly;
    .type {
      margin: 5px;
      padding: 5px;
      height: 30px;
      width: 30px;
      // border: 0;
      // width: 70px;
      // border-radius: 10px;
      // // border: 1px solid black;
      // box-shadow: 9px 13px 21px -14px rgba(0, 0, 0, 0.86);
      // -webkit-box-shadow: 9px 13px 21px -14px rgba(0, 0, 0, 0.86);
      // -moz-box-shadow: 9px 13px 21px -14px rgba(0, 0, 0, 0.86);
    }
    .normal {
      background-image: url(../../img//Normal.png);
      background-size: cover;
    }
    .shadow {
      background-color: #4d3f5f;
    }
    .steel {
      background-image: url(../../img//Steel.png);
      background-size: cover;
    }
    .ghost {
      background-image: url(../../img//Ghost.png);
      background-size: cover;
    }
    .fairy {
      background-image: url(../../img//Fairy.png);
      background-size: cover;
    }
    .psychic {
      background-image: url(../../img//Psychic.png);
      background-size: cover;
    }
    .rock {
      background-image: url(../../img//Rock.png);
      background-size: cover;
    }
    .dragon {
      background-image: url(../../img//Dragon.png);
      background-size: cover;
    }
    .fighting {
      background-image: url(../../img//Fighting.png);
      background-size: cover;
    }
    .fire {
      background-image: url(../../img//Fire.png);
      background-size: cover;
    }
    .bug {
      background-image: url(../../img//Icon_Bug.png);
      background-size: cover;
    }
    .ground {
      background-image: url(../../img//Ground.png);
      background-size: cover;
    }
    .grass {
      background-image: url(../../img//Grass.png);
      background-size: cover;
    }
    .poison {
      background-image: url(../../img//Poison.png);
      background-size: cover;
    }
    .flying {
      background-image: url(../../img//Flying.png);
      background-size: cover;
    }
    .water {
      background-image: url(../../img//Water.png);
      background-size: cover;
    }
    .electric {
      background-image: url(../../img//Electric.png);
      background-size: cover;
    }
    .dark {
      background-image: url(../../img//Dark.png);
      background-size: cover;
    }
    .ice {
      background-image: url(../../img//Ice.png);
      background-size: cover;
    }
  }
}
.steel_bg {
  background: url(../../backgrounds//Steel.png);
  background-size: cover;
}

.bug_bg {
  background: url(../../backgrounds//Bug.png);
  background-size: cover;
}
.poison_bg {
  background: url(../../backgrounds//Poison.png);
  background-size: cover;
}
.ground_bg {
  background: url(../../backgrounds//Ground.png);
  background-size: cover;
}
.grass_bg {
  // background: url(https://media.discordapp.net/attachments/852620219730231340/872905897851117689/nLqXKl.png?width=1168&height=657);
  background: url(../../backgrounds//Grass.png);

  background-size: cover;
}
.water_bg {
  background: url(../../backgrounds//Water.png);
  background-size: cover;
}

.psychic_bg {
  background: url(../../backgrounds//Psychic.png);
  background-size: cover;
}
.rock_bg {
  background: url(../../backgrounds//Rock.png);
  background-size: cover;
}
.ghost_bg {
  background: url(../../backgrounds//Ghost.png);
  background-size: cover;
}
.ice_bg {
  background: url(../../backgrounds//Ice.png);
  background-size: cover;
}
.dark_bg {
  background: url(../../backgrounds//Dark.png);
  background-size: cover;
}
.dragon_bg {
  background: url(../../backgrounds//Dragon.png);
  background-size: cover;
}
.fairy_bg {
  background: url(../../backgrounds//Fairy.png);
  background-size: cover;
}
.fire_bg {
  // background: url(https://i.ytimg.com/vi/vHME8Osjmm4/maxresdefault.jpg);
  background: url(../../backgrounds//Fire.png);
  background-size: cover;
}
.flying_bg {
  background: url(../../backgrounds//Flying.png);
  background-size: cover;
}
.fighting_bg {
  background: url(../../backgrounds//Fighting.png);
  background-size: cover;
}
.electric_bg {
  background: url(../../backgrounds//Electric.png);
  background-size: cover;
}
.normal_bg {
  background: url(../../backgrounds//Normal.png);
  background-size: cover;
}
