.pagination {
  display: inline-block;
  a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    &:active {
      background-color: #4caf50;
    }
  }
}
.container_pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .card_pokemon {
    margin: 2rem;
    width: 410px;
    height: 150px;
    padding: 35px;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    img {
      transform: scale(1.2);
    }
    .Name_Pokemon {
      font-size: 20px;
      text-transform: capitalize;
      color: white;
      font-weight: bold;
    }
    .container_type {
      display: flex;
      justify-content: space-evenly;
      .type {
        margin: 5px;
        width: 70px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 10px;
      }
      .normal {
        background-color: peru;
      }
      .fire {
        background-color: #f95757;
      }
      .bug {
        background-color: #9af99a;
      }
      .ground {
        background-color: peru;
      }
      .grass {
        background-color: #9af99a;
      }
      .poison {
        background-color: violet;
      }
      .flying {
        background-color: lightblue;
      }
      .water {
        background-color: #a0a0f5;
      }
      .electric {
        background-color: yellow;
      }
      .dark {
        background-color: rgb(70, 70, 68);
      }
      .ice {
        background-color: #b9d5ef;
      }
      .fairy {
        background-color: #a5a5bf;
      }
      .fighting {
        background-color: #a23733;
      }
    }
  }
  .fire_bg {
    background-color: #ee8130;
  }
  .bug_bg {
    background-color: #a6b91a;
  }
  .poison_bg {
    background-color: #a33ea1;
  }
  .ground_bg {
    background-color: #e2bf65;
  }
  .grass_bg {
    background-color: #7ac74c;
  }
  .water_bg {
    background-color: #6390f0;
  }
  .fighting_bg {
    background-color: #c22e28;
  }
  .psychic_bg {
    background-color: #f95587;
  }
  .rock_bg {
    background-color: #b6a136;
  }
  .ghost_bg {
    background-color: #735797;
  }
  .ice_bg {
    background-color: #96d9d6;
  }
  .dark_bg {
    background-color: #212529;
  }
  .dragon_bg {
    background-color: #6f35fc;
  }
  .fairy_bg {
    background-color: #b7b7ce;
  }
  .flying_bg {
    background-color: #a8a77a;
  }
  .electric_bg {
    background-color: #f7d02c;
  }
  .normal_bg {
    background-color: #a8a77a;
  }
}
