.container_types {
  display: flex;
  justify-content: center;
  .button {
    margin: 10px;
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
    width: 50px;
  }

  .normal {
    background-color: peru;
  }
  .fire {
    background-color: #f95757;
  }
  .bug {
    background-color: #9af99a;
  }
  .ground {
    background-color: peru;
  }
  .grass {
    background-color: #9af99a;
  }
  .poison {
    background-color: violet;
  }
  .flying {
    background-color: lightblue;
  }
  .water {
    background-color: #a0a0f5;
  }
  .electric {
    background-color: yellow;
  }
  .dark {
    background-color: rgb(70, 70, 68);
  }
  .ice {
    background-color: #b9d5ef;
  }
}
