@import "../ColorsAndImg.scss";

.container_options {
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  .Types {
    width: 50%;
  }
  .button {
    border: 0;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    width: 50px;
    box-shadow: 9px 13px 21px -14px rgba(0, 0, 0, 0.86);
    -webkit-box-shadow: 9px 13px 21px -14px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: 9px 13px 21px -14px rgba(0, 0, 0, 0.86);
  }

  .normal {
    background-color: $color_normal;
  }
  .shadow {
    background-color: #4d3f5f;
  }
  .steel {
    background-color: $color_steel;
  }
  .ghost {
    background-color: $color_ghost;
  }
  .fairy {
    background-color: $color_fairy;
  }
  .psychic {
    background-color: $color_psychic;
  }
  .rock {
    background-color: $color_rock;
  }
  .dragon {
    background-color: $color_dragon;
  }
  .fighting {
    background-color: $color_fighting;
  }
  .fire {
    background-color: $color_fire;
  }
  .bug {
    background-color: $color_bug;
  }
  .ground {
    background-color: $color_ground;
  }
  .grass {
    background-color: $color_grass;
  }
  .poison {
    background-color: $color_poison;
  }
  .flying {
    background-color: $color_flying;
  }
  .water {
    background-color: $color_water;
  }
  .electric {
    background-color: $color_electric;
  }
  .dark {
    background-color: $color_dark;
  }
  .ice {
    background-color: $color_ice;
  }
}
