$background: #6a040f;
$NavBarColor: #a11d33a6;

$background_steel: url(../../backgrounds//Steel.png);
$Img_Type_steel: url(../../img//Steel.png);
$color_steel: #545e60;

$background_bug: url(../../backgrounds//Bug.png);
$Img_Type_bug: url(../../img//Icon_Bug.png);
$color_bug: #9af99a;

$background_poison: url(../../backgrounds//Poison.png);
$Img_Type_poison: url(../../img//Poison.png);
$color_poison: violet;

$background_ground: url(../../backgrounds//Ground.png);
$Img_Type_ground: url(../../img//Ground.png);
$color_ground: rgb(228, 151, 75);

$background_grass: url(../../backgrounds//Grass.png);
$Img_Type_grass: url(../../img//Grass.png);
$color_grass: #9af99a;

$background_water: url(../../backgrounds//Water.png);
$Img_Type_water: url(../../img//Water.png);
$color_water: #a0a0f5;

$background_psychic: url(../../backgrounds//Psychic.png);
$Img_Type_psychic: url(../../img//Psychic.png);
$color_psychic: #f95587;

$background_rock: url(../../backgrounds//Rock.png);
$Img_Type_rock: url(../../img//Rock.png);
$color_rock: #b6a136;

$background_ghost: url(../../backgrounds//Ghost.png);
$Img_Type_ghost: url(../../img//Ghost.png);
$color_ghost: #735797;

$background_ice: url(../../backgrounds//Ice.png);
$Img_Type_ice: url(../../img//Ice.png);
$color_ice: #b9d5ef;

$background_dark: url(../../backgrounds//Dark.png);
$Img_Type_dark: url(../../img//Dark.png);
$color_dark: rgb(70, 70, 68);

$background_dragon: url(../../backgrounds//Dragon.png);
$Img_Type_dragon: url(../../img//Dragon.png);
$color_dragon: #6f35fc;

$background_fairy: url(../../backgrounds//Fairy.png);
$Img_Type_fairy: url(../../img//Fairy.png);
$color_fairy: #b7b7ce;

$background_fire: url(../../backgrounds//Fire.png);
$Img_Type_fire: url(../../img//Fire.png);
$color_fire: #f95757;

$background_flying: url(../../backgrounds//Flying.png);
$Img_Type_flying: url(../../img//Flying.png);
$color_flying: lightblue;

$background_fighting: url(../../backgrounds//Fighting.png);
$Img_Type_fighting: url(../../img//Fighting.png);
$color_fighting: #a23733;

$background_electric: url(../../backgrounds//Electric.png);
$Img_Type_electric: url(../../img//Electric.png);
$color_electric: yellow;

$background_normal: url(../../backgrounds//Normal.png);
$Img_Type_normal: url(../../img//Normal.png);
$color_normal: peru;
