@import "../ColorsAndImg.scss";

.container_card {
  margin-top: 8vw;
  .Card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 500px;

    img {
      height: 100px;
    }
    .name {
      font-size: 25px;
    }
    .container_types {
      display: flex;
      justify-content: center;
      .type {
        margin: 5px;
        padding: 5px;
        height: 30px;
        width: 30px;
      }
    }
  }
}
.row {
  width: 200px;
  height: 200px;
}
.contenido {
  margin: auto;
  width: calc(25% - 30px);
  min-width: 500px;
  .info {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    .name {
      width: 150px;
      text-align: left;
      font-size: 25px;
    }
  }

  .linea {
    margin-left: 13px;
    height: 25px;
    width: 100%;
    background: lightgrey;
    position: relative;
  }
}

.normal {
  background-image: $Img_Type_normal;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_normal;
  }
}
.shadow {
  background-color: #4d3f5f;
}
.steel {
  background-image: $Img_Type_steel;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_steel;
  }
}
.ghost {
  background-image: $Img_Type_ghost;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_ghost;
  }
}
.fairy {
  background-image: $Img_Type_fairy;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_fairy;
  }
}
.psychic {
  background-image: $Img_Type_psychic;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_psychic;
  }
}

.rock {
  background-image: $Img_Type_rock;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_rock;
  }
}
.dragon {
  background-image: $Img_Type_dragon;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_dragon;
  }
}
.fighting {
  background-image: $Img_Type_fighting;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_fighting;
  }
}

.fire {
  background-image: $Img_Type_fire;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_fire;
  }
}
.bug {
  background-image: $Img_Type_bug;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_bug;
  }
}
.ground {
  background-image: $Img_Type_ground;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_ground;
  }
}
.grass {
  background-image: $Img_Type_grass;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_grass;
  }
}
.poison {
  background-image: $Img_Type_poison;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_poison;
  }
}
.flying {
  background-image: $Img_Type_flying;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_flying;
  }
}
.water {
  background-image: $Img_Type_water;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_water;
  }
}
.electric {
  background-image: $Img_Type_electric;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_electric;
  }
}
.dark {
  background-image: $Img_Type_dark;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_dark;
  }
}
.ice {
  background-image: $Img_Type_ice;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: $color_ice;
  }
}

@for $i from 1 through 300 {
  .stats-#{$i} {
    &::before {
      width: $i / 15 * 10%;
    }
  }
}
@media (max-width: 700px) {
  .Card {
    flex-direction: column;

    img {
      margin-top: 2rem;
    }
  }
  .contenido {
    width: 60vw !important;
    min-width: 0;
    margin-top: 2rem;

    .info {
      flex-direction: column;
      .name {
        place-self: center;
      }
    }
  }
}
