.Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 500px;

  //   width: calc(45% - 30px);

  img {
    height: 100px;
  }
  .name {
    font-size: 45px;
  }
  .container_types {
    display: flex;
    .type {
      margin: 5px;
      padding: 5px;
      height: 30px;
      width: 30px;
    }
  }
}
.row {
  width: 200px;
  height: 200px;
}
.contenido {
  margin: auto;
  width: calc(25% - 30px);
  min-width: 500px;
  .info {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    .name {
      width: 150px;
      text-align: left;
      font-size: 25px;
    }
  }

  .linea {
    margin-left: 13px;
    height: 25px;
    width: 100%;
    background: lightgrey;
    position: relative;
  }
}

.normal {
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: peru;
  }
}
.fire {
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #f95757;
  }
}
.bug {
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #9af99a;
  }
}
.ground {
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: peru;
  }
}
.grass {
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #9af99a;
  }
}
.poison {
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: violet;
  }
}
.flying {
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: lightblue;
  }
}
.water {
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #a0a0f5;
  }
}
.electric {
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: yellow;
  }
}
.dark {
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(70, 70, 68);
  }
}
.ice {
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #b9d5ef;
  }
}
.normal {
  background-image: url(../../img//Normal.png);
  background-size: cover;
}
.shadow {
  background-color: #4d3f5f;
}
.steel {
  background-image: url(../../img//Steel.png);
  background-size: cover;
}
.ghost {
  background-image: url(../../img//Ghost.png);
  background-size: cover;
}
.fairy {
  background-image: url(../../img//Fairy.png);
  background-size: cover;
}
.psychic {
  background-image: url(../../img//Psychic.png);
  background-size: cover;
}
.rock {
  background-image: url(../../img//Rock.png);
  background-size: cover;
}
.dragon {
  background-image: url(../../img//Dragon.png);
  background-size: cover;
}
.fighting {
  background-image: url(../../img//Fighting.png);
  background-size: cover;
}
.fire {
  background-image: url(../../img//Fire.png);
  background-size: cover;
}
.bug {
  background-image: url(../../img//Icon_Bug.png);
  background-size: cover;
}
.ground {
  background-image: url(../../img//Ground.png);
  background-size: cover;
}
.grass {
  background-image: url(../../img//Grass.png);
  background-size: cover;
}
.poison {
  background-image: url(../../img//Poison.png);
  background-size: cover;
}
.flying {
  background-image: url(../../img//Flying.png);
  background-size: cover;
}
.water {
  background-image: url(../../img//Water.png);
  background-size: cover;
}
.electric {
  background-image: url(../../img//Electric.png);
  background-size: cover;
}
.dark {
  background-image: url(../../img//Dark.png);
  background-size: cover;
}
.ice {
  background-image: url(../../img//Ice.png);
  background-size: cover;
}

@for $i from 1 through 150 {
  .stats-#{$i} {
    &::before {
      width: $i / 10 * 10%;
    }
  }
}
